@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #18181b;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.input-wrapper {
  position: relative;
}
.icon {
  position: absolute;
  left: 1rem;
  top: 1rem;
  pointer-events: none;
}

input {
  max-width: 50vw;
  min-width: 20vw;
  color: rgb(229 229 229);
}
input::placeholder {
  color: rgba(229 229 229);
  opacity: 0.5;
}

.form-wrapper {
  min-width: min-content;
}

/* .container {
  max-width: 1440px;
} */

.max-w-8xl {
  max-width: 1556px;
}
.register {
  width: 25%;
  min-width: 245px;
}
